<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por:
</p>
<p>
    Belén González Lozano <br>
    Juan Guirado López-Puigcerver
</p>
<p>
    <a href="https://github.com/jbgloz">https://github.com/jbgloz</a>
</p>

<img src="/images/juan.jpg" />
<img src="/images/belen.jpg" />